/* ESTLIZANDO A SESSÃO ULTIMAS DO ECONAÇU */

#ultimas-do-econacu{
    background: linear-gradient(90deg, #131A22 7.11%, #2F3E51 74.04%);
    box-shadow: 0px 20px 20px #8492A6;
    width:1200px;
    margin:auto;
    font-family: 'Raleway', sans-serif;
    
}

#pontos-esquerda{
    background-image:url("assets/img/pontos.svg");
    background-repeat: no-repeat;
    background-position: -20px 22px;
}

#pontos-direita{
    background-image: url("assets/img/pontos.svg");
    background-repeat:no-repeat;
    background-position:right 361px;
}

#container div{
    max-width:49.6%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

#container div:first-child{
    padding-left:96px;
    padding-right:54px;
}

#container div:last-child{
    padding-right:96px;
}
/* ESTILIZANDO O LADO ESQUERDO */
/* PRIMEIRO TITULO */

#pontos-direita h2{
    font-weight: 800;
    font-size:28px;
    line-height:33.6px;
    padding-top:47px;
    margin-left:96px;
    margin-bottom:50px;
    color:#3C4858;
}

/* SUBTITULO H3 */
#container div h3{
    font-weight: 800;
    font-size: 18px;
    line-height:21.6px;
    color:#E5E9F2;
    margin-top:0;
}

/* SUBTITULO H5 */
#container div h5{
    font-weight:300;
    font-size:12px;
    line-height:14.4px;
    color:#8492A6;
}

/* PARAGRAFO DA ESQUERDA */
#container p{
    font-weight:400;
    font-size:14px;
    line-height:22.4px;
    color:#C0CCDA;
    margin-bottom:56px;
}

/* BOTÃO DO LADO ESQUERDO */
#ler-mais{
    width:159px;
    height:38px;
    padding: 8px 48px;
    border: 1px solid #FAB900;
    font-weight: 700;
    font-size:14px;
    line-height:22.4px;
    color:#FAB900;
    text-decoration: none;
    text-align: center;
}

#ler-mais:hover{
    background-color:#FAB900;
    color:black;
    transition:500ms;
}

/* FIM DA ESTILIZAÇÃO DO LADO ESQUERDO */
/* INICIO DA ESTILIZAÇÃO DO LADO DIREITO */

.clipping{
    font-weight: 700;
    font-size:10px;
    line-height:16px;
    color:#C0CCDA;
    padding: 3px 15px;
    border: 1px solid #8492A6;
    margin-right:16px;
}

#container article h4{
    font-weight:300;
    font-size:12px;
    line-height:19.2px;
    color:#C0CCDA;
    margin-bottom:8px;
}

.noticia-tribuna{
    font-weight: 700;
    font-size: 16px;
    line-height:22.4px;
    color:#C0CCDA;
    text-decoration: none;
}

#container div article{
    margin-bottom:49px;
}

#container div article:last-child{
    margin-bottom:31px;
}

#ver-tudo{
    font-weight: 700;
    font-size:14px;
    line-height:14px;
    color:#FFC82C;
    text-decoration: none;
    display:block;
    width:100px;
    margin-left: auto;
    margin-top:53px;
}

#ver-tudo img{
    margin-right:11px;
    vertical-align: middle;
}

#container div h3::after{
    content:'';
    display:block;
    margin-top:11px;
    width:60px;
    height:4px;
    background-color: #FFC82C;
}

#container div:last-child article:first-child h4{
    margin-top:0;
}